// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

.login__card {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 
    0 9px 46px 8px rgba(0,0,0,.12), 
    0 24px 38px 3px rgba(0,0,0,.14);
}

.login__card__input {
    margin-top: 16px;
    margin-bottom: 8px;

    &--req {
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.8142857142857143rem;
    }
}

.login__card__button {

    &--login {
        min-width: 150px;
        padding: 16px;
        margin-top: 16px;
        font-size: 17px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 0.25px;
        border-radius: 6px;
        border: 0;
        box-shadow: none;
        text-transform: none;
        color: #fff;
        background-color: #1d72db;
        width: 100%;
    }

    &--register {
    min-width: 150px;
    padding: 16px;
    margin-top: 16px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.25px;
    border: 0;
    box-shadow: none;
    text-transform: none;
    color: #1d72db;
    background-color: transparent;
    width: 100%;
    }

    &--help {
        border: none;
        background-color: transparent;
        color: #1d72db;
        font-size: 0.95rem;
        font-weight: 400;
        border-bottom: 1px solid currentcolor;
    }

}
