// YOU MUST USE BEM HERE
// IMPLEMENT ALL THE RULES RELATED TO THE COMPONENTS THAT ARE PART OF YOUR DESIGN SYSTEM HERE 
// Example: input, button, card ...

.login__card {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 
    0 9px 46px 8px rgba(0,0,0,.12), 
    0 24px 38px 3px rgba(0,0,0,.14);
}

.login__card__input {
    margin-top: 16px;
    margin-bottom: 8px;

    &--req {
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.8142857142857143rem;
    }
}



.login__card__button {

    &--login {
        min-width: 150px;
        padding: 16px;
        margin-top: 16px;
        font-size: 17px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 0.25px;
        border-radius: 6px;
        border: 0;
        box-shadow: none;
        text-transform: none;
        color: #fff;
        background-color: #1d72db;
        width: 100%;
    }

    &--login:hover {
        background-color: #004ABC;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
        rgba(64, 64, 64, 0.24) 0px 3px 8px 0px, 
        rgba(64, 64, 64, 0.16) 0px 3px 6px 0px;
    }

    &--register {
    min-width: 150px;
    padding: 16px;
    margin-top: 16px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.25px;
    border-radius: 6px;
    border: 0;
    box-shadow: none;
    text-transform: none;
    color: #1d72db;
    background-color: transparent;
    width: 100%;
    }

    &--register:hover {
        background-color: #F8FAFC;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
        rgba(64, 64, 64, 0.24) 0px 3px 8px 0px, 
        rgba(64, 64, 64, 0.16) 0px 3px 6px 0px;
    }

    &--help {
        box-sizing: inherit;
        border: none;
        background-color: transparent;
        color: #1d72db;
        font-size: 0.95rem;
        font-weight: 400;
        border-bottom: 1px solid currentcolor;
        padding: 0;
        margin: 0;
        margin-top: 12px;
        line-height: 1.43;
        letter-spacing: .25px;
    }

}

.rememberme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-weight: 400;

    &--label {
        display: inline-flex;
    }

    &--text {
        font-size: 1.0857142857142856rem;
        color: #111;
        font-weight: 400;
    }

    &--checkbox {
        margin-right: 17px;
        transform: scale(1.5);
    }
}